<div class="filter-container">
  <span>Filter: </span>

  <input
    type="radio"
    name="filter"
    value="All"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>{{ "All courses(" + all + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Free"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>{{ "Free courses(" + free + ")" }}</span>

  <input
    type="radio"
    name="filter"
    value="Premium"
    [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChanged()"
  />
  <span>{{ "Premium courses(" + premium + ")" }}</span>
</div>
