.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100px;
  padding: 5px 10px;
  width: 80%;
}
.change-font {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.info-container {
  margin: 10px 30px;
  padding: 10px 30px;
}
.notice {
  background-color: #c8e6c9;
}
.btn-notice {
  margin: 10px 30px;
  background-color: #f5b041;
}
